* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 1.6rem;
  display: flex;
  flex-direction: row;
}

header ul {
  display: flex;
  text-align: center;
  width: 5.33333rem;
  flex: 1;
}

header ul li {
  width: 1.33333rem;
  line-height: 1.6rem;
  text-align: center;
}

header img {
  width: 1.06667rem;
  height: 1.06667rem;
  margin: 0.26667rem;
}

.box {
  height: 10.66667rem;
}

.box dl {
  display: flex;
  height: 2.66667rem;
  padding: 0.32rem;
  border-bottom: 1px solid #ccc;
}

.box dl dt {
  width: 6.93333rem;
}

.box dl dt b {
  font-size: 0.48rem;
}

.box dl dt p {
  margin-top: 0.53333rem;
}

.box dl dt p span {
  margin-left: 0.26667rem;
  font-size: 0.37333rem;
}

.box dl dd {
  margin-left: 0.10667rem;
}

.box dl dd img {
  width: 2.66667rem;
}

footer {
  height: 1.6rem;
  display: flex;
}

footer a {
  width: 25%;
  height: 1.6rem;
  text-decoration: none;
  text-align: center;
  padding: 0.26667rem;
}

footer a img {
  width: 0.53333rem;
  height: 0.53333rem;
}

footer a span {
  display: block;
  margin-top: 0.16rem;
  font-size: 0.42667rem;
}

.swiper-container {
  height: 4.26667rem;
  overflow: hidden;
  display: flex;
  justify-items: center;
}

.swiper-container img {
  width: 8rem;
}
